APP_URL=https://preview.dashboard.bakudanramen.com
APP_ENV=staging
APP_VERSION=v11.0.0-rc1

PREVIEW_QA_BYPASS=1
PREVIEW_QA_EMAIL=phase11.preview@bakudanramen.com

DB_HOST=mysql-taskflow.bakudanramen.com
DB_PORT=3306
DB_NAME=preview_database
DB_USER=your_db_user
DB_PASS=your_db_password

SKIP_SCHEMA_CHECKS=0
